{% extends 'restaurante/dashboard.html' %}

{% block content %}

<div class="configuracoes">
    <h1>{{ _('Configurações') }}</h1>
    <!-- Status do restaurante -->
    <p>{{ _('Status atual:') }} <strong id="status-text">{{ _('Online') if restaurante.status else _('Offline')
            }}</strong></p>
    <label class="toggle">
        <input type="checkbox" id="status-toggle" {% if restaurante.status %}checked{% endif %}>
        <span class="slider"></span>
    </label>


    <!-- Formulário para enviar foto -->
    <form action="{{ url_for('upload_foto_restaurante', restaurante_id=restaurante.id) }}" method="POST"
        enctype="multipart/form-data" id="foto-form">
        <label class="foto-titulo" for="foto">{{ _('Foto de Perfil:') }}</label><br>
        <div class="foto-preview-container">
            {% if restaurante.fotoperfil %}
            <img src="{{ url_for('static', filename='uploads/' + restaurante.fotoperfil) }}"
                alt="{{ _('Foto preview') }}" class="restaurante-foto">
            {% else %}
            <img src="{{ url_for('static', filename='img/restaurante/default-restaurante.png') }}"
                alt="{{ _('Foto padrão') }}" class="restaurante-foto">
            {% endif %}
        </div>
        <input class="foto-upload" type="file" name="foto" id="foto" accept="image/*" required><br>
        <button type="submit" class="btn-upload">{{ _('Enviar Foto') }}</button>
    </form>
</div>

<script src="{{ url_for('static', filename='script/restaurante/botao_online.js') }}"></script>
{% endblock %}