html{
        font-family: 'Montserrat', sans-serif;
    }
    
    body {
    border: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image:url('/static/img/home/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;

}
#modo_escuro{
    margin-top: 30px;
    border-radius: 100px;
    border: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-right: 30px;
    height: 50px;
    width: 50px;
    margin-left: 150px;
}
img {
    
    margin-left: 10px;
    width: 200px;
    height: auto;
}

#main-container {
    margin-top: 30px;
    font-weight: bold;
    font-size: 30px;
    background: rgba(163, 163, 163, 0.644);
    border-radius: 30px;
    position: absolute;
    height: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
#button-choice{
   
    font-weight: bold;
    font-size: 40px;
    background: rgba(163, 163, 163, 0.644);
    border-radius: 30px;
    position: absolute;
    height: 450px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cliente {
    width: 450px;
    height: 80px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.2s ease-in-out;
}

.restaurante {
    width: 450px;
    height: 80px;
    margin: 20px;
    border: 0;
    border-radius: 25px;    
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.entregador {
    width: 450px;
    height: 80px;
    margin: 20px;
    border: 0;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.cliente:hover {
    background-color: rgb(0, 158, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
}

.entregador:hover {
    background-color: rgb(211, 235, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
}

.restaurante:hover {
    background-color: rgb(0, 17, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    width: auto;
    background-color: rgb(255, 255, 255);
    
}

#email{
    border-radius: 25px;
    border: 0;
    text-align: center;
  
    width: 380px;
    height: 50px;

}
#password{
    border-radius: 25px;
    border: 0;
    margin-top: 30px;
    text-align: center;
    width: 380px;
    height: 50px;
}
#button-wrapper{
    height: 100%;
    padding-bottom: 20px;

}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px;
}

#button-loggin{
    border-radius: 25px;
    height: 40px;
    width: 250px;
    margin-right: 30px;
    border: 0;
    margin-bottom: 20px;
    cursor: pointer;
}
#button-cadastro {
    border-radius: 25px;
    height: 40px;
    width: 250px;
    border: 0;
    cursor: pointer;
}

#button-return{
    width: 100%;
    padding-left: 30px;
    padding-top: 30px;
    background-color: rgba(250, 235, 215, 0);
    border: 0;
}
#return{
    background-color: rgba(240, 248, 255, 0);
    height: 30px;
    width: 30px;
}
#return1 {
    background-color: rgba(250, 235, 215, 0);
    border: 0;
    cursor: pointer;
}

#txt {
    font-size: 62px;
    font-weight: bold;
}
#role-text {
    font-size: 50px;
    height: 0px;
    margin-bottom: 90px;
}