* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/static/img/home/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 600px;
    height: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease;
    position: relative;
}

.return-button {
    background-image: url('/static/img/home/return.png'); 
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    color: transparent; 
    width: 120px; 
    height: 40px; 
    cursor: pointer;
    transition: opacity 0.5s ease;
    opacity: 1; 
    position: absolute;
    top: 35px; 
    left: 10px; 
}

.logo img {
    max-width: 400px; 
}

.button {
    width: 75%;
    padding: 25px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s ease-in-out;
}

.cliente { background-color: #4CAF50; color: white; }
.restaurante { background-color: #2196F3; color: white; }
.entregador { background-color: #FF9800; color: white; }

.cliente:hover {
    background-color: #2f4b30;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    transform: scale(1.01);
}
.restaurante:hover {
    background-color: #1b4466;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    transform: scale(1.01);
}
.entregador:hover {
    background-color: #684512;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  
    transform: scale(1.01);
}

.login-form {
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.login-form input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.form-buttonC, .form-buttonE {
    flex: 1;
    padding: 18px 0;
    cursor: pointer;
    color: white; 
    border: none;
    border-radius: 5px; 
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

.form-buttonC:hover, .form-buttonE:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    transform: scale(1.01);
}

.error-message {    
    position: relative;
    background-color: rgb(208, 0, 0);
    color: #ffffff;
    border: transparent;
    padding: 10px 40px 10px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.close-error-btn {  
    position: absolute;
    top: 5px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
